<div class="main-content-inner">
<div class="container">

<div class="row">
   <div class="col-12">
        <div #AddInfo class="alert alert-info text-dark" role="alert">
            <p *ngIf="alertPage === 1"><b>RoboNegotiator</b> helps automating your sales function by letting you choose your products, quantity and special prices (MSP – Minimum Selling Price) so we can make sure we find buyers paying above (or worst-case matching) your MSP.  We also provide Market Data to help you decide your deal price. </p>
            <p *ngIf="alertPage === 2">You can also configure <b>“Negotiation Parameters/Rules”</b> for your product based on your needs. You can opt for us to be aggressive or lenient while negotiating for you. Configure once and enjoy automated sales.</p>
            <p *ngIf="alertPage === 3">Please provide necessary information below for us to know those products, quantity and minimum selling price you want for these products.  For uploading deals in mass, you can also use <b>“Bulk Upload”</b> feature.</p>
            <div class="actions text-right">
                <button type="button" class="btn btn-link" (click)="setAlertPage(alertPage-1)" [disabled]="alertPage === 1">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-link" (click)="setAlertPage(alertPage+1)" [disabled]="alertPage === 3">
                    <i class="fa fa-arrow-right"></i>                            
                </button>
            </div>
        </div>
   </div>
</div>

<div class="row">
    <div class="col-12">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step>
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Product Information</ng-template>

                        <div class="row">

                            <div class="col-md-6">
                               <div class="form-group">
                                                                    <select required="" name="category" onchange="setAttributes(this.value)" class="custom-select" style="display: block
                                     !important;">
                                     <option value="">Select Category *</option>
                                     <option>Automobiles</option>
                                     <option>Electronics</option>
                                     <option>Appliances</option>
                                     <option>Equity Offering</option>
                                     <option>Miscellaneous</option>
                                  </select>
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Product Title *" required="" value="" name="product_title">
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Product Code (UPC or SKU or  VIN) *" value="" required="" name="upc_product_code">
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                  <input type="text" class="form-control" placeholder="URL(More Information)
                                     (Optional)" name="url" value="">
                               </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <textarea class="form-control" required="" placeholder="Enter Some Product Description to Proceed" rows="5" id="product_description" name="product_description"></textarea>
                              </div>
                            </div>
                            <!-- File Upload Section -->
                            <div class="col-md-12">
                               <p class="font-weight-bold pb-2">Upload 5-6 photos ( at least 1 photo is required)</p>
                            </div>
                            <div class="col-md-12">

                                <span class="btn btn-default btn-file">
                                    <div class="file-input file-input-new">
                                    <div class="input-group ">

                                       <div class="input-group-btn">
                                           <div tabindex="500" >
                                            <i class="glyphicon glyphicon-folder-open"></i>&nbsp;
                                            <button type="button" class="btn btn-primary btn-file" (click)="filePicker.nativeElement.click()">Browse …</button>
                                            <input #FilePicker id="input-1" name="product_img[]" type="file" accept="image/*" multiple="" data-show-upload="true" data-show-caption="true" style="display: none;">
                                        </div>
                                       </div>
                                    </div></div>
                                </span>

                            </div>
                        </div>
                <div class="pull-right">
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
          </mat-step>
          <mat-step>
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Product Attributes</ng-template>
                    <div class="row">
                            <div class="col-md-2">
                               <div class="form-group">
                                  <input type="text" class="form-control" id="attributeId_1" placeholder="Attribute 1 / Make  (Optional)" name="make" value="">
                               </div>
                            </div>
                            <div class="col-md-2">
                               <div class="form-group">
                                  <input type="text" class="form-control" id="attributeId_2" placeholder="Attribute 2 / Model(Optional)" name="model" value="">
                               </div>
                            </div>
                            <div class="col-md-2">
                               <div class="form-group">
                                  <input type="text" class="form-control" id="attributeId_3" placeholder="Attribute 3/Condition (Optional)" name="condition" value="">
                               </div>
                            </div>
                            <div class="col-md-2">
                               <div class="form-group">
                                  <input type="text" class="form-control" id="attributeId_4" placeholder="Attribute 4/Color (Optional)" name="color" value="">
                               </div>
                            </div>
                            <div class="col-md-2">
                               <div class="form-group">
                                  <input type="text" class="form-control" id="attributeId_5" placeholder="Attribute 5/Size (Optional)" name="size" value="">
                               </div>
                            </div>
                          </div>
              <div class="pull-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Deal Information</ng-template>
                    <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Listing Price (USD) *" name="price" required="" value="">
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Special RoboNegotiator Deal  Price *" name="special_deal_price" value="">
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Provide us the lowest price  at which you would like to sell if we need to  negotiate further?   *  " name="lowest_price" required="" value="">
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Quantity Available for this deal *" required="" name="seller_original_quantity" value="">
                               </div>
                            </div>
                            <input type="hidden" name="api_key" value="f07862522e9585ffd7ca6a6138ec262480b0d91f">
                            <div class="col-md-6">
                               <div class="form-group">
                                    <input type="text" onfocus="(this.type='date')" class="form-control" placeholder="Deal Expiry Date *" id="datePicker" name="expiry_date" value="" required="">
                               </div>
                            </div>
                    </div>
              <div class="pull-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Negotiation</ng-template>
                    <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                            <label><input type="radio" name="negotiation" value="classic" checked="" style="padding-right: 5px; color: #fff;"> &nbsp;I would like to negotiate myself.</label>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                            <label><input type="radio" name="negotiation" value="auto" checked="" style="padding-right: 5px; color: #fff"> &nbsp;I would like RoboNegotiator to expedite/do negotiations.</label>
                            </div>
                          </div>
                      </div>
              <div class="pull-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
                <h4 class="text-center text-success">You are now done!!!<i class="fa fa-check"></i></h4>
                        <button class="btn btn-primary btn-block">
                           <i class="fa fa-check"></i>
                            UPLOAD DEAL
                         </button>

            <div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
        <button type="button" style="margin: 1rem 0;" class="btn btn-success btn-block" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-upload" aria-hidden="true"></i> BULK UPLOAD</button>
    </div>
</div>

</div>
</div>

<div class="footer footer-copyright bg-dark text-white">
    <span> © 2020 Copyright: RoboNegotiator</span>
    <span style="cursor: pointer;"> Privacy Policy </span>
    <span style="cursor: pointer;"> Terms of Use </span>
    <a class="text-link" href="mailto:info@robonegotiator.com">info@robonegotiator.com</a>
</div>