<div class="main-content-inner">
<div class="container">

<div class="row">
   <div class="col-12">
        <div #AddInfo class="alert alert-info text-dark" role="alert">
            <p *ngIf="alertPage === 1"><b>RoboNegotiator</b> helps automating your sales function by letting you choose your products, quantity and special prices (MSP – Minimum Selling Price) so we can make sure we find buyers paying above (or worst-case matching) your MSP.  We also provide Market Data to help you decide your deal price. </p>
            <p *ngIf="alertPage === 2">You can also configure <b>“Negotiation Parameters/Rules”</b> for your product based on your needs. You can opt for us to be aggressive or lenient while negotiating for you. Configure once and enjoy automated sales.</p>
            <p *ngIf="alertPage === 3">Please provide necessary information below for us to know those products, quantity and minimum selling price you want for these products.  For uploading deals in mass, you can also use <b>“Bulk Upload”</b> feature.</p>
            <div class="actions text-right">
                <button type="button" class="btn btn-link" (click)="setAlertPage(alertPage-1)" [disabled]="alertPage === 1">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-link" (click)="setAlertPage(alertPage+1)" [disabled]="alertPage === 3">
                    <i class="fa fa-arrow-right"></i>                            
                </button>
            </div>
        </div>
   </div>
</div>

<div class="row">
    <div class="col-12">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out your name</ng-template>
              <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>

</div>
</div>

<div class="footer footer-copyright bg-dark text-white">
    <span> © 2020 Copyright: RoboNegotiator</span>
    <span style="cursor: pointer;"> Privacy Policy </span>
    <span style="cursor: pointer;"> Terms of Use </span>
    <a class="text-link" href="mailto:info@robonegotiator.com">info@robonegotiator.com</a>
</div>